@import url("//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css");
@import url("//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css");
@import url(https://fonts.googleapis.com/css?family=Raleway:400,700,300);
/* angular-ui desktop compatibility */
.nav, .pagination, .carousel, .panel-title a {
  cursor: pointer; }

/* remove chrome resize x */
textarea {
  resize: vertical; }

.modal-header h3 {
  margin: 0; }

.alert:last-child {
  margin-bottom: 0; }

/* general mixins */
@media (max-width: 767px) {
  .row-offcanvas {
    margin-top: 6rem;
    position: relative;
    -webkit-transition: all 0.25s ease-out;
    -o-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out; }

  .row-offcanvas-right {
    right: 0; }

  .row-offcanvas-left {
    left: 0; }

  .row-offcanvas-right .sidebar-offcanvas.col-xs-10 {
    right: -83.333%; }

  .row-offcanvas-left .sidebar-offcanvas.col-xs-10 {
    left: -83.333%; }

  .row-offcanvas-right.col-xs-10.active {
    right: 83.333%; }

  .row-offcanvas-left.col-xs-10.active {
    left: 83.333%; }

  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 83.333%; } }
.toolbar-top {
  background: #ffffff;
  min-height: 5rem;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
  margin-left: -2rem;
  margin-right: -2rem;
  padding-left: 1rem;
  padding-right: 1rem; }
  .toolbar-top > .container-fluid {
    padding: 0 1.5rem; }
    .toolbar-top > .container-fluid > .row:first-child {
      min-height: 6rem; }
    .toolbar-top > .container-fluid > .row:last-child > div:first-child {
      position: relative;
      min-height: 5rem; }
      .toolbar-top > .container-fluid > .row:last-child > div:first-child > * {
        position: absolute;
        top: 50%;
        -webkit-transform: translate3d(0, -50%, 0);
        -o-transform: translate3d(0, -50%, 0);
        transform: translate3d(0, -50%, 0); }
    .toolbar-top > .container-fluid > .row:last-child > div:last-child {
      position: relative;
      min-height: 5rem; }
      .toolbar-top > .container-fluid > .row:last-child > div:last-child > * {
        position: absolute;
        top: 50%;
        right: 1.5rem;
        width: 100%;
        -webkit-transform: translate3d(0, -50%, 0);
        -o-transform: translate3d(0, -50%, 0);
        transform: translate3d(0, -50%, 0); }

html {
  min-height: 100%; }

body {
  min-height: 100%;
  overflow-x: hidden; }
  body > .outer {
    margin: 0 -1.5rem;
    min-height: 100%;
    background: #fff; }
    body > .outer > .main {
      padding: 1.5rem; }

h1, h2, h3 {
  font-family: Raleway, Arial, Tahoma, Sans-serif;
  font-weight: 300; }

h1 {
  font-size: 3rem; }

h2 {
  font-size: 2.4rem; }

h3 {
  font-size: 2rem; }

.outer-topbar {
  height: 0.5rem;
  line-height: 0.5rem;
  position: relative;
  z-index: 1; }
  .outer-topbar > * {
    height: 0.5rem;
    display: inline-block;
    line-height: 0.5rem;
    vertical-align: top; }
  .outer-topbar > :first-child {
    width: 5%;
    background: #111; }
  .outer-topbar > :last-child {
    width: 95%;
    background: #40C1B5; }

img.webbhuset {
  max-width: 14rem;
  vertical-align: baseline; }

.main > div {
  padding-left: 0;
  padding-right: 0; }

.toolbar-top {
  margin-bottom: 4rem; }

.toolbar-top h2 {
  margin: 0; }

.outer-section {
  background: #333333; }

.mainList-ct {
  min-height: 80rem;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 2rem;
  margin-left: 5%;
  background: #e1e1e1;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.05) inset; }

.mainList {
  border: 0.1rem solid #ccc;
  width: 100%;
  margin-bottom: 2rem;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.05); }

.inner-form {
  border: 0.1rem solid #ccc;
  padding: 2rem;
  background: #fff;
  width: 100%;
  margin-bottom: 2rem;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.05); }

.mainList tr td {
  border: 0.1rem solid #ccc;
  padding: 1rem; }

.mainList tr:nth-child(2n) td {
  background: #f5f5f5; }

.mainList tr td:last-child {
  width: 15rem; }

.mainList thead td, .mainList tr:nth-child(2n-1) td {
  background: #fff; }

.membership-list > div:last-child hr {
  display: none; }

.form-text {
  margin-top: 0.7rem; }

.contact-toolbar + hr {
  margin-top: 1.6rem; }

.contact-toolbar .btn {
  margin-bottom: 0.4rem;
  margin-right: 0.4rem; }

.functions {
  margin-bottom: 2rem; }

.pagination {
  text-align: center;
  display: block; }

.pagination > li > a {
  float: none; }

/*# sourceMappingURL=style.css.map */
