<div class="controls list-functions">
    <div class="functions">
        <div class="row functions">
            <div class="col-sm-10">
                <xg-property-control properties="properties" query="config.query"></xg-property-control>
            </div>
            <div class="col-sm-2 text-right">
                <a
                    ng-show="!user.registry && (globalParams.get('user').role != 'USER' || (globalParams.get('user').role == 'USER' && params.type == 'MEMBER_PERSON'))"
                    class="btn btn-default"
                    xg-href="/entry/edit/-1"><i class="fa fa-pencil"></i> Skapa
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-5">
                <div class="btn-group">
                    <a
                        ng-repeat="(key, item) in config.typeselect.types"
                        class="btn btn-default"
                        ng-class="{'active' : config.query.arguments.filter.type == key }"
                        ng-click="config.query.arguments.filter.type = key;"
                        > {{ item }}
                    </a>
                </div>
                <div class="btn-group">
                    <a
                        class="btn btn-default"
                        ng-show="globalParams.get('user').role !== 'USER'"
                        ng-click="toggleParent();"
                        ng-class="{'active' : config.query.arguments.filter.parentEntry === null }"
                        >Saknar tillhörighet
                    </a>
                </div>
            </div>
            <div class="col-xs-2">
                <xg-list-count offset="config.query.arguments.offset" limit="config.query.arguments.limit" count="resource.foundCount"></xg-list-count>
            </div>
            <div class="col-xs-5 text-right">
                <div class="btn-group">
                    <a
                        class="btn btn-default"
                        ng-class="{'btn-success' : config.include == 'address'}"
                        ng-click="setInclude('address');"
                        >Adress
                    </a>
                    <a
                        class="btn btn-default"
                        ng-class="{'btn-success' : config.include == 'contact'}"
                        ng-click="setInclude('contact');"
                        >Kontakt
                    </a>
                </div>
                <xg-csv-export-button></xg-csv-export-button>
                <a class="btn btn-default" ng-click="config.sendMail();"><i class="fa fa-envelope"></i></a>
                <xg-pdf-label-button></xg-pdf-label-button>
                <xg-assign-invoice-button></xg-assign-invoice-button>
            </div>
        </div>
    </div>
</div>