<pre class="debug">{{ entry | json }}</pre>
<div class="outer-section">
    <div ng-include="'/template/topbar.html'"></div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-2">
                <div class="mainNav-ct" ng-include="'/template/mainNav.html'"></div>
            </div>
            <div class="col-xs-10 mainList-ct">
                <div class="col-lg-8 col-lg-offset-2 col-sm-12 col-xs-12">
                <div class="inner-form">
                    <div class="functions"><a class="btn btn-default" onclick="window.history.back();"><i class="fa fa-chevron-left"></i> Tillbaka</a></div>
                    <form class="form-horizontal" method="post">
                        <div class="form-group">
                            <label class="control-label col-sm-4">Posttyp</label>
                            <div class="col-sm-8">
                                <select class="form-control" ng-model="entry.type" ng-show="routeParams.id == '-1'" ng-change="switchType(this.value);">
                                    <option ng-repeat="(key, type) in entryTypes" ng-selected="entry.type == key" value="{{ key }}">{{ type }}</option>
                                </select>
                                <p class="form-text" ng-show="routeParams.id !== '-1'">{{ entryTypes[entry.type] }}</p>
                            </div>
                        </div>
                        <div class="form-group" ng-show="entry.type == 'MEMBER_PERSON' && entry.id">
                            <label class="control-label col-sm-4">MedlemsID</label>
                            <div class="col-sm-8">
                                <p class="form-control-static">{{ entry.id }}</p>
                            </div>
                        </div>
                        <div class="form-group" ng-show="entry.type == 'MEMBER_PERSON'">
                            <label class="control-label col-sm-4">Förnamn</label>
                            <div class="col-sm-8">
                                <input class="form-control" ng-model="entry.firstName" placeholder="Förnamn" type="text">
                            </div>
                        </div>
                        <div class="form-group" ng-show="entry.type == 'MEMBER_PERSON'">
                            <label class="control-label col-sm-4">Efternamn</label>
                            <div class="col-sm-8">
                                <input class="form-control" ng-model="entry.lastName" placeholder="Efternamn" type="text">
                            </div>
                        </div>
                        <div class="form-group" ng-show="entry.type == 'ASSOCIATION'">
                            <label class="control-label col-sm-4">Namn</label>
                            <div class="col-sm-8">
                                <input class="form-control" ng-model="entry.name" placeholder="Namn" type="text">
                            </div>
                        </div>
                        <div class="form-group" ng-show="entry.type == 'MEMBER_PERSON'">
                            <label class="control-label col-sm-4">Födelseår</label>
                            <div class="col-sm-8">
                                <div class="row">
                                    <div class="col-xs-4">
                                        <div class="input-group">
                                            <input
                                                placeholder="År"
                                                type="text"
                                                class="form-control"
                                                uib-datepicker-popup="yyyy" 
                                                ng-model="meta.birthYear"
                                                is-open="meta.birthyearOpen"
                                                min-mode="'year'"
                                                ng-required="false"
                                                ng-change="setCalTime('YYYY', meta.birthYear, entry.birthYear);"
                                                close-text="Stäng" />
                                            <span class="input-group-btn">
                                                <button
                                                    class="btn btn-default"
                                                    ng-click="meta.birthyearOpen = true"
                                                >
                                                    <i class="fa fa-calendar"></i>
                                                </button>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-xs-4">
                                        <div class="input-group">
                                            <input
                                                placeholder="Månad"
                                                type="text"
                                                class="form-control"
                                                uib-datepicker-popup="M" 
                                                ng-model="meta.birthMonth"
                                                init-date="meta.birthMonth" 
                                                is-open="meta.birthmonthOpen"
                                                max-mode="'month'"
                                                min-mode="'month'"
                                                ng-required="false"
                                                ng-change="setCalTime('MM', meta.birthMonth, entry.birthMonth);"
                                                close-text="Stäng" />
                                            <span class="input-group-btn">
                                                <button
                                                    class="btn btn-default"
                                                    ng-click="meta.birthmonthOpen = true"
                                                >
                                                    <i class="fa fa-calendar"></i>
                                                </button>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-xs-4">
                                        <div class="input-group">
                                            <input
                                                placeholder="Dag"
                                                type="text"
                                                class="form-control"
                                                uib-datepicker-popup="d" 
                                                ng-model="meta.birthDate"
                                                init-date="meta.birthDate" 
                                                is-open="meta.birthDateOpen"
                                                max-mode="'day'"
                                                min-mode="'day'"
                                                ng-required="false"
                                                ng-change="setCalTime('DD', meta.birthDate, entry.birthDate);"
                                                close-text="Stäng" />
                                            <span class="input-group-btn">
                                                <button
                                                    class="btn btn-default"
                                                    ng-click="meta.birthDateOpen = true"
                                                >
                                                    <i class="fa fa-calendar"></i>
                                                </button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group" ng-show="entry.type == 'MEMBER_PERSON'">
                            <label class="control-label col-sm-4">Kön</label>
                            <div class="col-sm-8">
                                <select class="form-control" ng-model="entry.gender">
                                    <option value="">-</option>
                                    <option value="FEMALE">Kvinna</option>
                                    <option value="MALE">Man</option>
                                </select>
                            </div>
                        </div>
                        <div>
                            <h2>Medlemskap</h2>
                            <div class="membership-list" ng-show="entry.connection !== undefined">
                                <div ng-form="connection" ng-repeat="(key, connection) in entry.connection">
                                    <div class="form-group">
                                        <label class="control-label col-xs-12 col-sm-4">Organisation</label>
                                        <div class="col-xs-8 col-sm-6">
                                            <select class="form-control" ng-options="org.id as org.name for org in organizations" ng-model="entry.connection[key].parentEntry.id">
                                                <option value="?">-</option>
                                            </select>
                                        </div>
                                        <div class="col-xs-4 col-sm-2 text-right">
                                            <button class="btn btn-default" ng-click="removeMembership(key);"><i class="fa fa-times"></i> Radera</button>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-sm-4">Medlemsskap</label>
                                        <div class="col-sm-8">
                                            <div class="row">
                                                <div class="col-sm-9">
                                                    <div class="input-group">
                                                        <input
                                                            type="text"
                                                            class="form-control"
                                                            placeholder="Från"
                                                            uib-datepicker-popup="dd.MM.yyyy" 
                                                            init-date="today" 
                                                            ng-model="entry.connection[key].createdAt"
                                                            is-open="entry.connection[key].fromOpen"
                                                            ng-required="true"
                                                            close-text="Stäng" />
                                                        <span class="input-group-btn">
                                                            <button
                                                                class="btn btn-default"
                                                                ng-click="entry.connection[key].fromOpen = true"
                                                            >
                                                                <i class="fa fa-calendar"></i>
                                                            </button>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <hr>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-offset-4 col-sm-8">
                                    <a class="btn btn-default" ng-click="addMembership()"><i class="fa fa-plus"></i> Lägg till medlemskap</a>
                                </div>
                            </div>
                        </div>
                        <h2>Kontaktuppgifter</h2>
                        <div class="contact-toolbar row">
                            <div class="col-md-8 col-md-offset-4 col-xs-12">
                                <a
                                    class="btn btn-default contact-sheet-btn"
                                    ng-class="{ 'active btn-primary' : meta.addressActive == key }"
                                    ng-repeat="(key, address) in entry.address"
                                    ng-click="meta.addressActive = key">
                                    {{ key }}
                                </a>
                                <a
                                    class="btn btn-default"
                                    ng-click="addContactsheet()"
                                    >
                                    <i class="fa fa-plus"></i> Lägg till
                                </a>
                            </div>
                        </div>
                        <div ng-show="entry.address !== undefined">
                            <hr>
                            <div
                                class="contact-sheet"
                                ng-repeat="(key, address) in entry.address"
                                ng-show="meta.addressActive == key"
                            >
                                <input type="hidden" ng-model="address.id" value="{{ address.id }}">
                                <div class="form-group">
                                    <label class="control-label col-sm-4">E-postadress</label>
                                    <div class="col-sm-8">
                                        <input class="form-control" placeholder="E-postadress" type="text" ng-model="address.email">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-4">Mobil</label>
                                    <div class="col-sm-8">
                                        <input class="form-control" placeholder="Mobil" type="text" ng-model="address.mobile">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-4">Telefon</label>
                                    <div class="col-sm-8">
                                        <input class="form-control" placeholder="Telefon" type="text" ng-model="address.phone">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-4">Namn</label>
                                    <div class="col-sm-8">
                                        <input class="form-control" placeholder="Namn" type="text" ng-model="address.name">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-4">Postadress</label>
                                    <div class="col-sm-8">
                                        <textarea class="form-control" placeholder="Postadress" ng-model="address.street"></textarea>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-4">Postnummer</label>
                                    <div class="col-sm-8">
                                        <select class="form-control" ng-model="address.country">
                                            <option disabled>Land</option>
                                            <option>Finland</option>
                                            <option>Annat</option>
                                        </select><br>
                                        <div class="row">
                                            <div class="col-xs-4">
                                                <input class="form-control" type="text" placeholder="Postnummer" ng-model="address.postalCode">
                                            </div>
                                            <div class="col-xs-8">
                                                <input class="form-control" type="text" placeholder="Postort" ng-model="address.town">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-4">Anteckningar</label>
                                    <div class="col-sm-8">
                                        <textarea class="form-control" placeholder="Anteckningar" ng-model="address.notes"></textarea>
                                    </div>
                                </div>
                            </div>
                            <hr>
                        </div>
                        <div ng-show="propertyGroups !== undefined">
                            <h2>Egenskaper</h2>
                            <div class="form-group">
                                <label class="control-label col-sm-4">
                                    <select class="form-control" ng-model="meta.activeProperty">
                                        <option value="all">Alla</option>
                                        <option ng-repeat="(key, value) in propertyGroups" value="{{ key }}">{{ value.name }}</option>
                                    </select>
                                </label>
                                <div class="col-sm-8">
                                    <div ng-repeat="(key, value) in propertyGroups" class="property-group" ng-class="{ 'property-all' : meta.activeProperty == 'all' }">
                                        <div ng-show="meta.activeProperty == value.id || meta.activeProperty == 'all'"><strong>{{ value.name }}</strong></div>
                                        <div
                                            class="checkbox checkbox-2col"
                                            ng-show="meta.activeProperty == value2.propertyGroup || meta.activeProperty == 'all'"
                                            ng-repeat="(key2, value2) in value.children"
                                        >
                                            <label>
                                                <input
                                                    type="checkbox"
                                                    ng-click="checkProperty(value2.id, this.value);"
                                                    ng-checked="entry.properties.indexOf(value2.id) > -1"
                                                >
                                                {{ value2.name }}
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr>
                        </div>
                        <h2>Meta</h2>
                        <div class="form-group" ng-show="entry.type == 'ASSOCIATION'">
                            <label class="control-label col-sm-4">Beskrivning</label>
                            <div class="col-sm-8">
                                <textarea placeholder="Beskrivning" class="form-control" ng-model="entry.description"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-4">Anteckningar</label>
                            <div class="col-sm-8">
                                <textarea placeholder="Anteckningar" class="form-control" ng-model="entry.notes"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-4">Externt id</label>
                            <div class="col-sm-8">
                                <input class="form-control" ng-model="entry.externalId" type="text" placeholder="Externt registerid">
                            </div>
                        </div>
                        <div class="form-group" ng-show="entry.createdAt !== undefined">
                            <label class="control-label col-sm-4">Uppgifter insatta</label>
                            <div class="col-sm-8">
                                <p class="form-text">{{ entry.createdAt | date:'d.M.yy HH:mm' }}</p>
                            </div>
                        </div>
                        <div class="form-group" ng-show="0">
                            <label class="control-label col-sm-4">Historik</label>
                            <div class="col-sm-8">
                                <div class="row">
                                    <div class="col-xs-8">
                                        <p class="alert alert-info">Senast uppdaterad </p>
                                    </div>
                                    <div class="col-xs-4">
                                        <a class="btn btn-default btn-block"><i class="fa fa-calendar"></i> Visa mer</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 text-right">
                                <a
                                    class="btn btn-default"
                                    ng-click="submit()"
                                ><i class="fa fa-save"></i> Spara</a>
                            </div>
                        </div>            
                    </form>
                </div>
            </div>
            </div>
        </div>
    </div>
</div>