<div class="controls list-functions">
    <div class="row" style="margin-bottom:2rem;">
        <div class="col-xs-8">
            <h2>Medlemsregister</h2>
            <h3 ng-show="currentEntry.id">
                {{ currentEntry.name }}
                <a
                    ng-show="currentEntry.id"
                    class="btn btn-default btn-xs"
                    href="/entry/edit/{{ currentEntry.id }}"><i class="fa fa-pencil"></i> 
                </a>
            </h3>
        </div>
        <div class="col-xs-4 text-right" ng-controller="navigation">
            <div ng-show="(globalParams.get('user').role == 'SUPER_ADMIN' || globalParams.get('user').role == 'ADMIN') && routeParams.id !== undefined">
                <xg-back/>
            </div>
        </div>
    </div>
</div>