<div class="toolbar-top">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12">
                <h3><img class="webbhuset" src="/svg/webbhuset_logo.svg"> Medlemsregister</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-8">
                <h2 ng-show="organization.name">{{ organization.name }}</h2>
            </div>
            <div class="col-xs-2">
                <statistics-gender></statistics-gender>
            </div>
            <div class="col-xs-2">
                <p class="text-right">
                    <a class="btn btn-xs btn-default" href="/user/logout">Logga ut</a>
                </p>
            </div>
        </div>
    </div>
</div>