<div ng-include="'/template/invoiceListMenu.html'"></div>
<div class="alert alert-info">
    Själva faktureringen sker via listan, på domhär sidorna kan man hantera fakturamallar, färdiga fakturor och reskontra.
</div>
<div class="row">
    <div class="col-sm-12">
        <table class="xg-list">
            <thead>
                <td>
                    <span class="col-label">Id</span>
                </td>
                <td>
                    <span class="col-label">Fakturans rubrik</span>
                </td>
                <td>
                    <span class="col-label">Betalat</span>
                </td>
                <td>
                    <span class="col-label">Fakturor</span>
                </td>
                <td class="functions">
                    <span class="col-label">Funktioner</span>
                </td>
            </thead>
            <tbody ng-show="list.foundCount > 0">
                <tr ng-repeat="item in list.items">
                    <td>
                        {{ item.id }}
                    </td>
                    <td>
                        <a href="/invoice/edit/{{ item.id }}">{{ item.name }}</a>
                    </td>
                    <td>
                        <strong>
                            {{ paidCount(item) }} av {{ item.invoices.length }}
                        </strong>
                    </td>
                    <td>
                        <a
                            ng-show="item.invoices.length"
                            href="/invoice/ledger/{{ item.id }}"
                            class="btn btn-xs btn-primary">
                            <i class="fa fa-check"></i>
                            Reskontra
                        </a>
                        
                        <a
                            ng-show="item.invoices.length"
                            ng-click="exportInvoices(item.id, 'csv');"
                            class="btn btn-xs btn-default"
                            uib-tooltip="Exportera fakturor i CSV">
                            <i class="fa fa-download"></i>
                            CSV
                        </a>
                        
                        <a
                            ng-show="item.invoices.length && item.invoices.length <= limit"
                            ng-click="exportInvoices(item.id, 'pdf');"
                            class="btn btn-xs btn-default"
                            uib-tooltip="Exportera fakturor i PDF">
                            <i class="fa fa-download"></i>
                            PDF
                        </a>
                        
                        <span ng-show="item.invoices.length && item.invoices.length > limit">
                            PDF: 
                            <div class="btn-group">
                                <a
                                    ng-repeat="page in _.range(_.ceil(item.invoices.length/limit))"
                                    ng-click="exportInvoices(item.id, 'pdf', page*limit );"
                                    class="btn btn-xs btn-default"
                                    uib-tooltip="Exportera fakturor i PDF; {{ (limit*page)+1 }}-{{ limit*(page+1) }}">
                                    {{ page+1 }}
                                </a>
                            </div>
                        </span>                        
                        
                        <div class="alert alert-warning" ng-show="item.invoices.length && item.invoices.length > limit">
                            Max {{ limit }} fakturor kan tas ut åt gången som pdf
                        </div>
                    </td>
                    <td class="functions">
                        <a
                            ng-click="deleteDialog(item);"
                            class="btn btn-xs btn-danger">
                            <i class="fa fa-times"></i>
                        </a>
                        <button
                            ng-disabled="item.invoices.length"
                            ng-click="goto('/invoice/edit/' + item.id);"
                            class="btn btn-xs btn-primary">
                            <i class="fa fa-pencil"></i>
                        </button>
                        <a
                            ng-show="true"
                            href="/invoice/edit/-1/{{ item.id }}"
                            class="btn btn-xs btn-default">
                            <i class="fa fa-files-o"></i>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="alert alert-info" ng-show="list.foundCount == 0">
            Inga poster.
        </div>
    </div>
</div>