<div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-sm-12 col-xs-12">
        <div class="inner-form">
            <div class="functions"><xg-back/></div>
        
            <div class="form-group" ng-show="invoice.id">
                <label class="control-label col-sm-4">ID</label>
                <div class="col-sm-8">
                    <p class="form-control-static">
                        {{ invoice.id }}
                    </p>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-4">Fakturans rubrik</label>
                <div class="col-sm-8">
                    <p class="form-control-static">
                        {{ invoice.name }}
                    </p>
                </div>
            </div>
            <div class="form-group" ng-show="role_admin">
                <label class="control-label col-sm-4">Fakturerare</label>
                <div class="col-sm-8">
                    <p class="form-control-static">
                        {{ orgName(invoice.entry) }} ({{ invoice.entry }})
                    </p>
                </div>
            </div>
            <div class="form-group" ng-show="!role_admin">
                <label class="control-label col-sm-4">Fakturerare</label>
                <div class="col-sm-8">
                    <p class="form-control-static">
                        {{ suborg.name }} ({{ suborg.id }})
                    </p>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-4">Förfallodag</label>
                <div class="col-sm-8">
                    <p class="form-control-static">
                        {{ invoice.dueAt | date:'d.M.yyyy' }}
                    </p>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-4">Summa</label>
                <div class="col-sm-8">
                    <p class="form-control-static">
                        {{ invoice.amount }}
                    </p>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-4">Bank</label>
                <div class="col-sm-8">
                    <p class="form-control-static">
                        {{ invoice.bank }}
                    </p>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-4">Bankkonto (IBAN)</label>
                <div class="col-sm-8">
                    <p class="form-control-static">
                        {{ invoice.bankAccount }}
                    </p>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-4">FO-nummer</label>
                <div class="col-sm-8">
                    <p class="form-control-static">
                        {{ invoice.vat }}
                    </p>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-4">Fakturans meddelande</label>
                <div class="col-sm-8">
                    <p class="form-control-static">
                        {{ invoice.description }}
                    </p>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-4">Info</label>
                <div class="col-sm-8">
                    <p class="form-control-static">
                        {{ invoice.message }}
                    </p>
                </div>
            </div>
            <div class="form-group" ng-show="invoice.id">
                <label class="control-label col-sm-4">Skapad</label>
                <div class="col-sm-8">
                    <p class="form-control-static">
                        {{ invoice.createdAt | date:'d.M.yyyy HH:mm' }}
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    &nbsp;
                </div>
                <div class="col-sm-8 text-right">
                    <xg-cancel></xg-cancel>
                    <button 
                        ng-show="invoice.id"
                        class="btn btn-default" 
                        ng-click="previewById(invoice.id)">
                        <i class="fa fa-search"></i> Förhandsgranska
                    </button>
                </div>
            </div>            
        </div>
    </div>
</div>
