<div class="mainNav">
    <ul>
        <li><a href="/registry/list"><i class="fa fa-cubes"></i> Register</a></li>
        <li>
            <ul>
                <li><a href="/stat"><i class="fa fa-bar-chart"></i> Statistik</a></li>
                <!-- <li><a><i class="fa fa-cog"></i> Inställningar</a></li> //-->
                <li ng-show="globalParams.get('user').role !== 'USER'"><a href="/property/list"><i class="fa fa-edit"></i> Egenskaper</a></li>
            </ul>
        </li>
    </ul>
</div>