<div ng-show="foundCount.entrylist > 0">
    <div class="row">
        <div class="col-sm-12 text-right">
            <div class="btn-group">
                <a
                    ng-repeat="num in [5,10,25,50]"
                    class="btn btn-default btn-xs" 
                    ng-class="{ 'active' : params.limit == num }" 
                    ng-click="setLimit(num)"
                   >{{ num }}</a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <ul class="pagination">
                <li
                    ng-repeat="item in pagination"
                    class="{{ item.class }}"
                    ><a ng-click="setOffset(item.name * params.limit);">{{ item.name +1 }}</a></li>
            </ul>
        </div>
    </div>
</div>