<div class="controls list-functions">
    <div class="functions">
        <div class="row functions">
            <div class="col-sm-6">
                <h2>Medlemsregister</h2>
            </div>
            <div class="col-sm-6 text-right">
                <a
                    ng-show="user.role == 'SUPER_ADMIN'"
                    class="btn btn-default"
                    href="/registry/-1/edit"><i class="fa fa-pencil"></i> Skapa
                </a>
            </div>
        </div>
    </div>
</div>