<h2>Statistik</h2>

<div ng-show="error_exists" class="alert alert-danger">
    Ett fel har inträffat!</div>
<div ng-hide="registry_msg" class="alert alert-warning">
    Inget register finns valt!</div>
<div ng-show="stat_panel">
    <div class="row">
        <div class="col-md-12">
            <form class="form-inline" ng-show="role_admin">
                <label for="selected_org_id">Välj filtrering:</label>
                <select name="selected_org" id="selected_org_id" ng-Model="selected_org" ng-change="viewOrg(selected_org);" class="form-control">
                    <option value="0" ng-selected="selected_org==0">Hela registret</option>
                    <optgroup label="Underföreningar">
                        <option ng-repeat="org in suborgs" value="{{ org.id }}">{{ org.name }}</option>
                    </optgroup>
                </select>
				
				<div class="btn-group" ng-show="role_admin" uib-dropdown uib-tooltip="Ladda ner; medlemsantal per förening">
					<button 
						type="button" 
						class="btn btn-default dropdown-toggle" 
						data-toggle="dropdown" 
						aria-haspopup="true" 
						aria-expanded="false"
						uib-dropdown-toggle>
						<i class="fa fa-download"></i> <span class="caret"></span>
					</button>
					<ul uib-dropdown-menu class="dropdown-menu" role="menu">
						<li>
							<a ng-csv="doCsvMemberCount();"
								csv-header="['ID', 'Namn', 'Antal']"
								quote-strings="true"
								charset="utf-8" 
								filename="föreningars_medlemsantal.csv">
								Standard CSV
							</a>
						</li>
						<li>
							<a ng-csv="doCsvMemberCount();"
								csv-header="['ID', 'Namn', 'Antal']"
								quote-strings="true"
								charset="utf-8" 
								field-separator=";" 
								add-bom="true"
								filename="föreningars_medlemsantal.csv">
								Excelvänlig CSV
							</a>
						</li>
					</ul>
				</div>
				
            </form>
            <div ng-show="selected_org!=null">
                <h3>{{ view_org.name }} har {{ view_org_members_count }} st. medlemmar.</h3>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12 col-lg-6">
            <strong>Åldersfördelning</strong><br />
            <small><em>{{ (view_org_age_included_count/view_org_members_count)*100 | number:0 }}% är inkluderade i statistiken.</em></small>
            <canvas id="line" class="chart chart-line" ng-show="view_org_age_show" chart-data="view_org_age.data" 
                chart-labels="view_org_age.labels">
            </canvas>
        </div>
        <div class="col-sm-12 col-lg-6">
            <strong>Könsfördelning</strong><br />
     
            <small><em>
                <span ng-repeat="g in view_org_gender.data track by $index">
                    {{ view_org_gender.labels2[$index] }}: {{ (view_org_gender.data[$index]/view_org_members_count)*100 |number:0 }}% ({{view_org_gender.data[$index]}} st.)
                    <span ng-show="$index+1 != view_org_gender.data.length">, </span>
                </span>
            </em></small>
    
            <canvas id="pie" class="chart chart-pie" chart-legend="true" ng-show="view_org_gender_show" chart-options="{legend:{display: false}, tooltips:{enabled:true,}}"
                chart-data="view_org_gender.data" chart-labels="view_org_gender.labels2">
            </canvas> 
        </div>
    </div>
</div>