<div class="outer-topbar">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-2">
                <img class="webbhuset" src="/svg/webbhuset_logo.svg">
            </div>
            <div class="col-xs-2">
                <a href="/user/logout">Logga ut</a>
            </div>
            <div class="col-xs-2">
            </div>
            <div class="col-xs-6">
                <h2>Svenska pensionärsförbundet</h2>
                <!-- h2 ng-show="organization.name">{{ organization.name }}</h2 -->
            </div>
        </div>
    </div>
</div>
<div class="clearfix"></div>