<div class="outer-topbar" ng-controller="navigation">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-2">
                <img class="webbhuset" src="/svg/webbhuset_logo.svg">
            </div>
            <div class="col-xs-2">
                <a xg-href="/user/logout">Logga ut {{ globalParams.get('user').username }}</a>
            </div>
            <div class="col-xs-2">
            </div>
            <div class="col-xs-6">
                <h2>{{globalParams.get('registry').name}}</h2>
            </div>
        </div>
    </div>
</div>
<div class="clearfix"></div>