<!-- pre class="debug">{{ resource.users | json }}</pre -->
<div class="outer-section">
    <div ng-include="'/template/topbar.html'"></div>
    <div class="inner-section container-fluid">
        <div class="row">
            <div class="col-xs-2">
                <div class="mainNav-ct" ng-include="'/template/mainNav.html'"></div>
            </div>
            <div class="col-xs-offset-2 col-xs-10 mainList-ct">
                <div class="controls list-functions" ng-controller="navigation">
                    <div class="row functions">
                        <div class="col-sm-6"><h2>Användare</h2></div>
                        <div class="col-sm-6 text-right">
                            <a class="btn btn-default" xg-href="/user/edit">
                                <i class="fa fa-pencil"></i> Skapa användare
                            </a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <xg-list resource="resource" config="config.list" query="config.query"></xg-list>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>