<!-- pre class="debug">{{ resource.users | json }}</pre -->
<div class="outer-section">
    <div ng-include="'/template/topbar.html'"></div>
    <div class="inner-section container-fluid">
        <div class="row">
            <div class="col-xs-2">
                <div class="mainNav-ct" ng-include="'/template/mainNav.html'"></div>
            </div>
            <div class="col-xs-offset-2 col-xs-10 mainList-ct">
                <div class="controls list-functions" ng-controller="navigation">
                    <div class="row functions">
                        <div class="col-sm-6"><h2>Medlemsregister</h2></div>
                        <div class="col-sm-6 text-right">
                            <a class="btn btn-default" href="/user/edit">
                                <i class="fa fa-pencil"></i> Skapa
                            </a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <table class="mainList">
                            <thead>
                                <td>Användarnamn</td>
                                <td>Roll</td>
                                <td style="text-align:left;">Funktioner</td>
                            </thead>
                            <tr ng-repeat="item in resource.users">
                                <td><a href="/user/edit/{{ item.id }}">{{item.username}}</a></td>
                                <td>{{ roles[item.role] }}</td>
                                <td>
                                    <!-- a class="btn btn-xs btn-danger" ng-click="deleteConfirm({'id':item.id,'name':item.name});"><i class="fa fa-times"></i></a -->
                                    <!-- a ng-click="goto(item.id)" class="btn btn-xs btn-primary"><i class="fa fa-sign-in"></i></a -->
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="alert alert-info" ng-show="resource.foundCount.users == 0">
                    Inga poster.
                </div>
                <div ng-include="'/template/pagination.html'"></div>
            </div>
        </div>
    </div>
</div>