<!DOCTYPE html>
<html ng-app="RegistryClient">
    <head>
        <title>RegistryClient</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <base href="/">
        <!-- build:remove:dist -->
        <script type="text/javascript" src="node_modules/lodash/lodash.min.js"></script>        
        <script type="text/javascript" src="node_modules/angular/angular.js"></script>
        <script type="text/javascript" src="node_modules/angular-route/angular-route.js"></script>
        <script type="text/javascript" src="node_modules/angular-resource/angular-resource.js"></script>
        <script type="text/javascript" src="node_modules/angular-sanitize/angular-sanitize.js"></script>
        <script type="text/javascript" src="node_modules/angular-chart.js/node_modules/chart.js/Chart.js"></script>
        <script type="text/javascript" src="node_modules/angular-chart.js/dist/angular-chart.js"></script>
        <script type="text/javascript" src="node_modules/ng-csv/build/ng-csv.js"></script>
        <script type="text/javascript" src="node_modules/angular-ui-bootstrap/ui-bootstrap.js"></script>
        <script type="text/javascript" src="node_modules/angular-ui-bootstrap/ui-bootstrap-tpls.js"></script>
        <script type="text/javascript" src="node_modules/angular-xeditable/dist/js/xeditable.js"></script>
        <script type="text/javascript" src="node_modules/ng-pdfkit/build/ng-pdfkit.js"></script>
        <script type="text/javascript" src="node_modules/angular-file-saver/dist/angular-file-saver.bundle.min.js"></script>
        <script type="text/javascript" src="main.js"></script>
        <script type="text/javascript" src="js/factory/db.js"></script>
        <script type="text/javascript" src="js/factory/dialog.js"></script>
        <script type="text/javascript" src="js/factory/globalParams.js"></script>
        <script type="text/javascript" src="js/factory/loadOverlay.js"></script>
        <script type="text/javascript" src="js/factory/invoiceWriters.js"></script>
        <script type="text/javascript" src="js/factory/translation.js"></script>
        <script type="text/javascript" src="js/directive/directives.js"></script>
        <script type="text/javascript" src="js/directive/exportDirectives.js"></script>
        <script type="text/javascript" src="js/directive/list.js"></script>
        <script type="text/javascript" src="js/directive/pagination.js"></script>
        <script type="text/javascript" src="js/directive/limiter.js"></script>
        <script type="text/javascript" src="js/directive/listCount.js"></script>
        <script type="text/javascript" src="js/directive/propertyControl.js"></script>
        <script type="text/javascript" src="js/controller/pageController.js"></script>
        <script type="text/javascript" src="js/controller/navigation.js"></script>
        <script type="text/javascript" src="js/controller/statView.js"></script>
        <script type="text/javascript" src="js/controller/registryList.js"></script>
        <script type="text/javascript" src="js/controller/registryEdit.js"></script>
        <script type="text/javascript" src="js/controller/invoiceList.js"></script>
        <script type="text/javascript" src="js/controller/invoiceLedger.js"></script>
        <script type="text/javascript" src="js/controller/invoiceEdit.js"></script>
        <script type="text/javascript" src="js/controller/mailingList.js"></script>
        <script type="text/javascript" src="js/controller/mailingView.js"></script>
        <script type="text/javascript" src="js/controller/entryList.js"></script>
        <script type="text/javascript" src="js/controller/entryEdit.js"></script>
        <script type="text/javascript" src="js/controller/propertyList.js"></script>
        <script type="text/javascript" src="js/controller/userList.js"></script>
        <script type="text/javascript" src="js/controller/userEdit.js"></script>
        <script type="text/javascript" src="js/controller/userLogin.js"></script>
        <script type="text/javascript" src="js/controller/userLogout.js"></script>

        <!-- /build -->
        <!-- build:remove:dev -->
        
        <script type="text/javascript" src="dist.js"></script>
        <!-- /build -->
        <link rel="stylesheet" type="text/css" href="style.css"/>
    </head>
    <body ng-controller="pageController">
        <div ng-if="layout == 'login'">
            <div ng-view class="main"></div>
        </div>
        <div ng-if="layout == 'default'" class="main">
            <div class="outer-section">
                <div ng-include="'/template/topbar.html'"></div>
                <div class="inner-section container-fluid">
                    <div class="row">
                        <div class="col-xs-2">
                            <div class="mainNav-ct" ng-include="'/template/mainNav.html'"></div>
                        </div>
                        <div class="col-xs-offset-2 col-xs-10 mainList-ct">
                            <div ng-view class="main"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>