@import url("//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css");
@import url("//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css");
@import url(https://fonts.googleapis.com/css?family=Raleway:400,700,300);
@import 'scss/_compatibility';
@import 'scss/_parameters';
@import 'scss/_offcanvas';
@import 'scss/_toolbars';

html { min-height:100%; }
body {
    min-height:100%;
    > .outer {
        margin:0 -1.5rem;
        min-height:100%;
        background:$background;
        > .main {
            padding:1.5rem;
        }
    }
}

h1, h2, h3 { font-family:Raleway, Arial, Tahoma, Sans-serif; font-weight:300; }

.main > div { margin-top:1.5rem; margin-bottom:1.5rem; }
.toolbar-top { margin-bottom:4rem; }
.toolbar-top h2 { margin:0; }

.mainList-ct { margin-bottom:2rem; }
.mainList { border:0.1rem solid #ccc; width:100%; }
.mainList tr td { border:0.1rem solid #ccc; padding:1rem; }
.mainList tr:nth-child(2n) td { background:#f5f5f5; }

.membership-list > div:last-child hr { display:none; }
.form-text { margin-top:0.7rem; }
.contact-toolbar + hr { margin-top:1.6rem; }
.contact-toolbar .btn { margin-bottom:0.4rem; margin-right:0.4rem; }

.functions { margin-bottom:2rem; }

.pagination { text-align:center; display:block; }
.pagination > li > a { float:none; }