@import url("//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css");
@import url("//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css");
@import '/node_modules/angular-ui-bootstrap/dist/ui-bootstrap-csp.css';
@import '/node_modules/angular-chart.js/dist/angular-chart.css';
@import url("https://cdnjs.cloudflare.com/ajax/libs/angular-xeditable/0.1.11/css/xeditable.min.css");
@import url(https://fonts.googleapis.com/css?family=Raleway:400,700,300);
@import url(https://fonts.googleapis.com/css?family=Lato:400,400italic,700,700italic,300,300italic);
@import '_defaults';

$palette-color2:#337ab7;
$base-font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
$base-font-family-headers:Lato, Arial, Tahoma, Sans-serif;
$base-font-size:1.4rem;
$base-line-height:1.8rem;

@import 'Template/_compatibility';
@import 'Template/_bootstrap-row-height';
@import 'Template/_type1';
@import 'scss/_parameters';
@import 'scss/_offcanvas';
@import 'scss/_toolbars';

html { height:100%; background:#333; }
body {
    min-height:100%;
    > .main {
        position:absolute;
        width:100%;
        min-height:100%;
        .outer-section {
            > .inner-section {
                position:absolute;
                width:100%;
                min-height:calc(100% - 50px);
                > .row {
                    position:absolute;
                    min-height:100%;
                    width:100%;
                    > * {
                        position:absolute;
                        min-height:100%;
                        &:first-child {
                            background:#333;
                        }
                    }
                }
            }
            width:100%;
            position:absolute;
            min-height:100%;
        }
    }
    overflow-x:hidden;
    > .load-overlay {
        position:fixed;
        top:0;
        left:0;
        width:100%;
        height:100%;
        background:rgba(255,255,255,0.6);
        z-index:2;
        opacity:1;
        pointer-events:auto;
        @include defaultTransition();
        &.inactive {
            opacity:0;
            pointer-events:none;
        }
        > i {
            @include center();
            color:#aaaaaa;
        }
    }
}

h1, h2, h3 { font-weight:300; }
h1 { font-size:3rem; }
h2 { font-size:2.4rem; }
h3 { font-size:2rem; }
a { cursor:pointer; }

.outer-topbar {
    height:5rem;
    line-height:5rem;
    position:relative;
    z-index:1;
    box-shadow:0 0 0.2rem rgba(0,0,0,0.2);
    background:#111;
    h2 {
        margin:0;
        padding:0.6rem 0 0.6rem 0;
    }
    .row > div {
        max-height:5rem;
        padding-top:0.6rem;
    }
    .row > div:last-child {
        background:#f00;
        min-height:5rem;
    }
    * {
        color:#fff;
    }
    a:hover {
        color:#fff;
        text-decoration:underline;
    }
}

.mainNav {
    padding:2rem 0;
    color:#ccc;
    * {
        color:inherit;
    }
    ul {
        list-style:none;
        margin:0;
        padding:0;
    }
    ul ul {
        padding-left:3rem;
    }
    i {
        display:inline-block;
        width:3rem;
        text-align:center;
        color:#666;
    }
    a {
        display:block;
        font-size:2rem;
        line-height:3rem;
        font-weight:300!important;
        font-family:Lato, Arial, Tahoma, Sans-serif;
        transition:all 0.2s;
    }
    ul ul a {
        font-size:1.8rem;
    }
    a:hover {
        color:#fff;
        text-decoration:none;
    }
}

.list-functions {
    h2 {
        margin-top:0; margin-bottom:0;
    }
}

.mainList-ct {
    padding-top:2rem;
    padding-bottom:2rem;
    .contact-toolbar + hr { margin-top:1.6rem; }
    .dropdown-menu {
        a {
            cursor:pointer;
        }
    }
    .contact-toolbar {
        .btn { margin-bottom:0.4rem; margin-right:0.4rem; }
        .contact-btn {
            display:inline-block;
            .class-marker {
                cursor:pointer;
                display:block;
                height:1rem;
                margin-right:0.4rem;
                margin-bottom:0.4rem;
                background:#ccc;
                border-radius:0.2rem;
                box-shadow:0 0 2px rgba(0,0,0,0.25);
                &.class-primary {
                    background:#5cb85c;
                }
                &.class-invoice {
                    background:#337ab7;
                }
            }
        }
    }
}

.property-control {
    .properties-labels {
        line-height:1rem;
        max-height:3.4rem;
        overflow:hidden;
        .property-label {
            display:inline-block;
            margin-right:0.2rem;
            margin-bottom:0.4rem;
        }
    }
}

img.webbhuset { max-width:14rem; vertical-align:top; height:auto; margin-top:0.8rem; max-height:21px; }

.toolbar-top { margin-bottom:4rem; }
.toolbar-top h2 { margin:0; }

.checkbox-2col { min-width:50%; display:inline-block; padding-right:1rem; }
.property-all { margin-bottom:2rem; }
.property-all:last-child { margin-bottom:0; }

.outer-section { background:#333333; }
.mainList-ct { min-height:80rem; padding-bottom:2rem; background:#f9f9f9; box-shadow:0 0 2px rgba(0,0,0,0.05) inset }
.inner-form { border:0.1rem solid #ccc; padding:2rem; background:#fff; width:100%; margin-top:2rem; box-shadow:0 0 2px rgba(0,0,0,0.05); }

.mainList, .xg-list {
    border:0.1rem solid #ccc;
    width:100%;
    margin-bottom:2rem;
    box-shadow:0 0 2px rgba(0,0,0,0.05);
    tr:nth-child(2n) td { background:#f5f5f5; }
    tr {
        td {
            border:0.1rem solid #ccc; padding:0.5rem 1rem;
            &.functions {
                width:10rem;
                text-align:right;
            }
        }
    }
    thead td:last-child {
        text-align:left;
    }
    thead td, tr:nth-child(2n-1) td { background:#fff; }
    thead td span.col-label { font-weight:700; }
}


.membership-list > div:last-child hr { display:none; }
.form-text { margin-top:0.7rem; }

.functions { margin-bottom:2rem; }

.xg-pagination {
    text-align:center;
    .btn-group {
        display:inline-block;
    }
}


span.spacer {
    display:inline-block;
    width:2rem;
}

pre.debug {
    position:absolute; left:10px; top:10px; width:400px; z-index:10;
}

.fa.sorter {
    color:$grayscale-black;
    &.fa-sort {
        color:$grayscale-mid;
    }
}

.editable-click, a.editable-click { border-bottom:none; }
a.editable-click { padding-top:0.4rem; padding-bottom:0.4rem; display:inline-block; }
.editable-controls input.form-control, .editable-controls button { padding-top:0.3rem!important; padding-bottom:0.3rem!important; height:28px; }