<table class="xg-list">
    <thead>
        <td ng-repeat="(key, col) in config.cols" ng-attr-style="{{ col.width ? 'width:' + col.width : null }}">
            <span>
                <span class="col-label" ng-show="!col.filter">{{ col.label }}</span>
            </span>
            <span>
                <xg-filter ng-show="col.filter && !col.sorter" placeholder="{{ col.label }}" target="key" query="query"/>
            </span>
            <span>
                <xg-sorter ng-show="col.sorter && !col.filter" target="key" query="query"/>
            </span>

            <div class="input-group" ng-show="col.sorter && col.filter">
                <span><xg-filter placeholder="{{ col.label }}" target="key" query="query"/></span>
                <span class="input-group-addon"><xg-sorter target="key" query="query"/></span>
            </div>
        </td>
        <td class="functions" ng-show="config.functions">
            <span class="col-label">Funktioner</span>
        </td>
    </thead>
    <tbody ng-show="resource.foundCount > 0">
        <tr ng-repeat="item in resource.items">
            <td ng-repeat="(key, col) in config.cols">
                <a xg-href="{{ link(col.link, item) }}" ng-show="col.link">{{ resolveValue(item, key) }}</a>
                <span ng-show="!col.link">{{ resolveValue(item, key) }}</span>
            </td>
            <td class="functions" ng-show="config.functions">
                <a
                    ng-show="config.functions.deleteDialog"
                    ng-click="deleteDialog(item);"
                    class="btn btn-xs btn-danger">
                    <i class="fa fa-times"></i>
                </a>
                <a
                    ng-show="config.functions.edit"
                    xg-href="{{ link(config.functions.edit, item); }}"
                    class="btn btn-xs btn-primary">
                    <i class="fa fa-pencil"></i>
                </a>
                <span ng-if="config.functions.custom">
                    <span ng-repeat="(key, value) in config.functions.custom">
                        <a
                            ng-if="functionIf(key, value, item)"
                            class="btn btn-xs"
                            ng-class="value.btnclass ? value.btnclass : 'btn-default'"
                            ng-click="_.invoke(config, 'functions.custom[' + key + '].function', item);"
                            ><i class="{{ value.icon ? value.icon : 'fa fa-exclamation-triangle' }}"></i></a>
                    </span>
                </span>
            </td>
        </tr>
    </tbody>
</table>
<div class="alert alert-info" ng-show="resource.foundCount == 0">
    Inga poster.
</div>
<div class="row" style="margin-bottom:1rem;">
    <div class="col-xs-offset-4 col-xs-4">
        <xg-list-count offset="query.arguments.offset" limit="query.arguments.limit" count="resource.foundCount"></xg-list-count>
    </div>
    <div class="col-xs-4">
        <xg-limiter value="query.arguments.limit"></xg-limiter>
    </div>
</div>
<xg-pagination
    ng-if="resource && config.pagination"
    limit="query.arguments.limit"
    offset="query.arguments.offset"
    count="resource.foundCount"
>
</xg-pagination>